# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#hide venv files
.venv/
venv/
ai-model/datasets/

# Python virtual environments
ai-model/venv/
ai-model/.venv/
venv/
.venv/

# ML Datasets (The heavy stuff)
ai-model/datasets/
ai-model/images/
*.jpg
*.png
*.jpeg